/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

html {
	scroll-behavior: smooth;
}

/* Typography
--------------------------------------------- */
body {
	font-family: 'Montserrat', Georgia, 'Times New Roman', Times, serif;
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.5;
	color: #fafafa;
	background-color: #332F2B;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-style: italic;
	font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
	color: #F57E00;
}

h1 {
	color: #F57E00;
	font-size: 2.8rem;
	font-weight: 750;
	margin: 10px;
}


/* Links
--------------------------------------------- */
a {
	text-decoration: none;

}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:focus {
	border: .4rem solid #fafafa;
}

a:active {
	text-decoration: none;
}

/* Header
--------------------------------------------- */
header {
	position: sticky;
	top: 0;
	z-index: 999;
	background-color: #F57E00;
	padding: 1rem 0;
}

header ul {
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;
}

header li {
	list-style-type: none;
}

header a {
	font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
	font-style: italic;
	font-size: 1.2rem;
	font-weight: 900;
	color: #332F2B;
	padding: 0.5rem;
	margin: 0.2rem;
}

@media (min-width: 35em) {
	header ul {
		justify-content: right;
		gap: 1rem;
		padding: 0 2rem;
	}
}


/* Main
--------------------------------------------- */


/* Title Section
--------------------------------------------- */


.title {
	text-align: center;
	margin: 12rem 1rem;
}

.title-caption {
	font-size: 1.1rem;
	max-width: 12rem;
	margin: 0 auto;
}

@media (min-width: 37.5em) {
	.title {
		max-height: 100vh;
	}

	.title h1 {
		font-size: 7rem;
		font-weight: 1000;
	}

	.title-caption {
		max-width: 60%;
		font-size: 2rem;
		font-weight: 600;
	}
}


/* Projects Section
--------------------------------------------- */

.projects h2 {
	font-size: 2.5rem;
	text-align: center;
	background-color: #332F2B;
	margin: 2rem auto;
	padding-top: 3.5rem;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
}

.projects h3 {
	color: #fafafa;
}

.project {
	display: block;
	margin: 3rem auto;
	padding: 2.5rem 1rem 1.5rem;
	max-width: 16rem;
	width: 80%;
	border: .4rem solid #fafafa;
	border-radius: 2rem;
	background-color: #332f2b;
}

.icon-background {
	display: block;
	background-color: #fafafa;
	padding: 1rem;
	margin: 0 auto;
	border-radius: 50%;
	width: 8rem;
	height: 8rem;
	position: relative;
}


/* Project Tile Re-size
--------------------------------------------- */

@media (min-width: 37.5em) {
	.icon-background {
		width: 12rem;
		height: 12rem;
	}

	.project {
		padding: 2rem;
		width: 18rem;
	}
}

.icon-country {
	width: 75%;
	height: 75%;
	position: absolute;
	top: 50%;
	left: 53%;
	transform: translate(-50%, -50%);
}

.icon-game {
	width: 75%;
	height: 75%;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.icon-movie {
	width: 65%;
	height: 65%;
	position: absolute;
	top: 50%;
	left: 49%;
	transform: translate(-50%, -50%);
}

.icon-money {
	width: 75%;
	height: 75%;
	position: absolute;
	top: 50%;
	left: 49%;
	transform: translate(-50%, -50%);
}

.icon-wp {
	width: 60%;
	height: 60%;
	position: absolute;
	top: 53%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.project-title {
	text-align: center;
	margin-bottom: 0.7rem;
}

@media (min-width: 37.5em) {
	.project-wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 3rem;
		margin: 5rem auto;
		max-width: 100rem;
		width: 75%;
	}

	.project {
		margin: 0;
	}
}


/* Projects Hover Behavior
--------------------------------------------- */
/* This code triggers the CSS code validator because of a CSS hack, will have to fix later */


@media (min-width: 37.5rem) {
	.project:hover {
		background-color: #F57E00;
		border: .4rem solid #F57E00;

		.icon-background {
			background-color: #332F2B;
		}

		.icon-country path {
			fill: #F57E00;
		}

		.icon-game path {
			fill: #F57E00;
		}

		.icon-movie path {
			fill: #F57E00;
		}

		.icon-money path {
			fill: #F57E00;
		}

		.icon-wp path {
			fill: #F57E00;
		}

		.project-title {
			color: #332F2B;
			font-weight: 800;
		}
	}
}


/* About Me Section
--------------------------------------------- */

.about-me {
	margin: 10rem auto 3rem auto;
	padding: 2rem;
}

.about-me h2 {
	text-align: center;
}

.me-img {
	display: block;
	border-radius: 50%;
	width: 13rem;
	height: 13rem;
	border: .4rem solid #F57E00;
	margin: 2rem auto;
}

@media (min-width: 50em) {
	.about-me h2 {
		font-size: 2rem;
		text-align: left;
		max-width: 45rem;
		width: 75%;
		margin: 0 auto;
	}

	.me-content {
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 45rem;
		width: 75%;
		gap: 4rem;
		margin: 0 auto;
	}

	.me-img {
		order: 2;
		width: 16rem;
		height: 16rem;
	}
}



/* Footer
--------------------------------------------- */

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #332F2B;
	background-color: #F57E00;
	height: 4rem;
}

footer p {
	font-size: .75rem;
	font-weight: 600;
	line-height: 1.5;
	max-width: 90%;
	text-align: center;
}

@media (min-width: 37.5rem) {
	footer p {
		font-size: 1rem;
	}
}